Source: flashlightd
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libglib2.0-dev,
               libgstreamer1.0-dev,
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/furilabs/flashlightd
Vcs-Git: https://github.com/furilabs/flashlightd.git

Package: flashlightd
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: simple daemon to manage flash light using sysfs or gstreamer.
